<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Servicio</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/service/registrar}" method="post" th:object="${service}">
    			<div class="form-group">
    				<label for="idService">ID:</label>
    				<input type="text" class="form-control" th:field="*{idService}"></input>
    				
    				<div class="form-group">
    					<label for="nameUser">NOMBRE:</label>
    					<input type="text" class="form-control" th:field="*{nameService}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('nameService')}" 
								th:errors="*{nameService}">
						</div>    					
    				</div>
    				<div class="form-group">
    					<label for="nombre">TIPO DE SERVICIO</label>
    					<input type="text" class="form-control" th:field="*{typeService}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('typeService')}" 
								th:errors="*{typeService}">
						</div>
    				</div>    
   				
    				<div class="form-group">
    					<label for="nombre">CIUDAD</label>
    					<input type="text" class="form-control" th:field="*{cityService}" id="ciudad"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('cityService')}" 
								th:errors="*{cityService}">
						</div>    					
    				</div>    
    				<div class="form-group">
    					<label for="nombre">DIRECCION</label>
    					<input type="text" class="form-control" th:field="*{addressService}" id="direccion"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('addressService')}" 
								th:errors="*{addressService}">
						</div>    					
    				</div> 					
    			 

    				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/service/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>